@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1!important;
  background: #000!important;
  min-height: 100vh;
  box-sizing: border-box;
}

::selection {
  background-color: #009e66;
  color: #fff;
}

#__next {
  min-height: 100vh;
  overflow: hidden;
} 

.layout-container {
  min-height: 85vh;
}

.loader-container {
  text-align: center;
  min-height: 85vh;
}

a {
  color: white!important;
  text-decoration: none!important;
}

.navbar {
  min-height: 15vh;
  z-index: 99;
  background-color: #000;
}

.navbar .navbar-brand {
  margin-left: 32px;
}

.navbar a {
  margin-right: 32px;
  font-size: 18px;
  font-weight: 600;
  color: #e6e6e6;
}

.navbar a:hover {
  color: white;
}

.single-section {
  margin-bottom: 120px;
}

.section-heading {
  margin-bottom: 50px;
  text-align: left;
}

.section-heading p {
  font-size: 15px;
  margin-bottom: 17px;
  color: #9f9f9f;
}

.section-heading h2 {
  display: inline-block;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -.25px;
  line-height: 100%;
  margin-bottom: 0;
  position: relative;
  z-index: 9;
}

.section-heading.page-heading {
  margin-bottom: 83px;
  text-align: center;
}

.section-heading.page-heading h2 {
  font-size: 46px;
  margin-bottom: 37px;
}

.section-heading.page-heading .animated-bar {
  background-color: #009e66;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  margin: 0 auto 0 auto;
  position: relative;
  right: 0;
  width: 75px;
}

.section-heading.page-heading .animated-bar::before {
  left: 8px;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: barAnimation;
  -webkit-animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: barAnimation;
  animation-timing-function: linear;
  background-color: #000;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

.section-heading.page-heading .animated-bar::after {
  left: 0;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: barAnimation;
  -webkit-animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: barAnimation;
  animation-timing-function: linear;
  background-color: #000;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
}

@keyframes barAnimation{
  from {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  } to {
    -webkit-transform:translateX(75px);
    transform:translateX(75px) 
  }
}

/* Home Section */
#home{
  position: relative;
  min-height: 85vh;
}

#home .home-content {
  text-align: center;
  margin-bottom: 13%;
  z-index: 1;
}

#home .home-content h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 34px;
}

#home .home-content span {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
}

#home .languages {
  position: absolute;
  bottom: 50px;
  left: -20px;
  gap: 15px;
}

#home .languages button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

#home .social-media {
  position: absolute;
  bottom: 50px;
  right: -20px;
  gap: 18px;
  z-index: 1;
}

#home .social-media a:hover {
  color: white;
}

#home .bannerImg {
  position: absolute;
  right: 120px;
  bottom: 20px;
  pointer-events: none;
}

/* About Section */
#about .about-info .info-content h2 {
  color: #009e66;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2;
}

#about .about-info .info-content h6 {
  font-size: 31px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 16px;
}

#about .about-info .info-content .description {
  font-size: 15px;
  font-weight: 500;
  color: #9f9f9f;
  border-bottom: 2px solid rgba(255,255,255,.08);
  margin-bottom: 0;
  padding-bottom: 29px;
  line-height: 1.95;
}

#about .about-info .info-content .content-info {
  font-size: 15px;
  margin-bottom: 4px;
  padding: 29px 0;
}

#about .about-info .info-content .single-info {
  margin-bottom: 10px;
}

#about .about-info .info-content .single-info span {
  color: #dadada;
  font-weight: 600;
  margin-right: 10px;
}

#about .about-info .info-content .single-info p {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
}

#about .about-info .info-content .single-info a {
  color: #009e66;
  transition: all .15s ease-in-out;
}

#about .about-info .info-content .single-info a:hover {
  color: #005537;
}

#about .about-info .info-content .content-download {
  margin-right: 23px;
  padding: 10px 35px;
  font-size: 14px;
  color: #fff;
  background-color: #009e66 !important;
  border: 1px solid #009e66 !important;
  border-radius: 30px;
}

#about .about-info .info-content .content-follow {
  display: flex;
  align-items: center;
  line-height: 100%;
  margin-bottom: 0;
}

#about .about-info .info-content .content-follow::before {
  background-color: rgba(255,255,255,.25);
  content: '';
  height: 2px;
  margin-right: 23px;
  width: 60px;
}

#about .about-info .info-content .content-follow li {
  margin-right: 14px;
}

#about .about-info .info-content .content-follow svg {
  transition: .3s all;
}

#about .about-info .info-content .content-follow svg:hover {
  color: #009e66;
}

#about .about-services .single-service {
  min-height: 260px;
  background-color: #161616;
  border-bottom: 2px solid transparent;
  box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
  margin-bottom: 30px;
  padding: 38px 42px;
  transition: all .15s ease-in-out;
}

#about .about-services .single-service:hover {
  border-bottom: 2px solid #009e66;
}

#about .about-services .single-service i {
  color: #009e66;
  display: inline-block;
  margin-bottom: 22px;
  pointer-events: none;
}

#about .about-services .single-service i svg {
  width: 43.5px;
  height: 58px;
}

#about .about-services .single-service h6 {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -.5px;
  margin-bottom: 14px;
}

#about .about-services .single-service p {
  color: #9f9f9f;
}

.skill-slider {
  margin: 50px 0;
}

.skill-slider img {
  width: 50%;
  height: 96px;
  margin: 0 auto 15px auto;
  pointer-events: none;
}

/* Contact Section */
#contact .contact-content form h4 {
  margin-bottom: 22px;
  line-height: 1.5;
}

#contact .contact-content form .form-group {
  margin-bottom: 25px;
}

#contact .contact-content form .form-control {
  color: #777;
  background-color: #161616;
  border: none;
  border-bottom: 1px solid #1d1d1d;
  border-radius: 0;
  font-size: 15px;
  height: 44px;
  padding: 9px 14px;
  transition: .15s ease-in-out;
  outline: none;
}

#contact .contact-content form .form-message #contact-message {
  height: auto;
}

#contact .contact-content form .form-control:focus {
  border-bottom: 1px solid #009e66;
  box-shadow: none;
}

#contact .contact-content form .form-submit button {
  padding: 10px 26px;
  background-color: #009e66!important;
  border: 1px solid #009e66!important;
  color: #fff;
  border-radius: 30px;
}

#contact .contact-content .contact-info {
  padding-left: 15px;
}

#contact .contact-content .contact-info h4 {
  line-height: 1.5;
  margin-bottom: 12px;
}

#contact .contact-content .contact-info p {
  font-size: 15px;
  margin-bottom: 28px;
  color: #9f9f9f;
}

#contact .contact-content .contact-info ul .media {
  display: flex;
}

#contact .contact-content .contact-info ul .info-icon {
  color: #009e66;
  font-size: 36px;
  margin-right: 50px;
  position: relative;
}

#contact .contact-content .contact-info ul .info-details {
  border-left: 2px solid rgba(255,255,255,.15);
  padding: 12px 0 12px 22px;
}

#contact .contact-content .contact-info ul .info-icon:first-child {
  margin-bottom: 13px;
}

#contact .contact-content .contact-info ul .info-details:first-child {
  padding-top: 0;
}

#contact .contact-content .contact-info ul .info-icon:last-child {
  margin-top: 13px;
}

#contact .contact-content .contact-info ul .info-details:last-child {
  padding-bottom: 0;
}

#contact .contact-content .contact-info ul .info-details h6 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
}

#contact .contact-content .contact-info ul .info-details span {
  color: #9f9f9f;
  transition: .3s all;
}

#contact .contact-content .contact-info ul .info-details a:hover span {
  color: #707070;
}

/* Projects Section */
#projects .projects-section .filter-control {
  margin-bottom: 50px;
  text-align: center;
}

#projects .projects-section .filter-control > li {
  border-bottom: 1px solid transparent;
  color: #cecece;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .3px;
  position: relative;
  transition: all .1s ease-in-out;
}

#projects .projects-section .filter-control > li:hover {
  color: #00bd7a;
  border-bottom: 1px solid #00bd7a;
}

#projects .projects-section .filter-control > li.tab-active {
  color: #00bd7a;
  border-bottom: 1px solid #00bd7a;
}

#projects .projects-section .filter-control>li:not(:last-child) {
  margin-right: 16px;
}

#projects .projects-section .projects-grid {
  position: relative;
}

#projects .projects-section .projects-grid .loader-container {
  min-height: auto;
  margin-top: 50px;
}

#projects .projects-section .projects-grid .project-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#projects .projects-section .projects-grid .project-wrapper::before {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  content: '';
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all .15s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

#projects .projects-section .projects-grid .project-wrapper > .img-fluid {
  width: 100%;
  height: auto;
}

#projects .projects-section .projects-grid .project-wrapper .item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  left: 0;
  opacity: 0;
  padding: 3px 18px;
  position: absolute;
  text-align: center;
  transition: all .15s ease-in-out;
  visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#projects .projects-section .projects-grid .project-wrapper .item-content h6 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 10px;
}

#projects .projects-section .projects-grid .project-wrapper .item-content a {
  color: #fff;
  padding: 7px 12px;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: all .15s ease-in-out;
}

#projects .projects-section .projects-grid .project-wrapper .item-content a:hover {
  color: #00bd7a;
  border: 1px solid #00bd7a;
}

#projects .projects-section .projects-grid .project-wrapper .item-content div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#projects .projects-section .projects-grid .project-wrapper:hover .item-content,
#projects .projects-section .projects-grid .project-wrapper:hover::before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 2000px) and (min-height: 900px) {
  #home .bannerImg {
    right: 10%;
    bottom: 30%;
  }
}

@media (max-width: 1199px) {
  #home .bannerImg {
    right: 0;
  }
}

@media (max-width: 728px) {
  .navbar .navbar-nav {
    margin-top: 20px;
    text-align: end;
  }

  /* Home Media */
  #home .languages {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: 0px;
    gap: 15px;
  }

  #home .social-media {
    display: none !important;
  }

  /* About Media */
  #about .about-info .info-content .content-download {
    margin-bottom: 27px;
  }

  /* Contact Media */
  #contact .contact-content .contact-info {
    padding-left: 0;
    margin-top: 50px;
  }
}