html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins,sans-serif;
  color: white;
  background: #101010;
  min-height: 100vh;
}

::selection {
  background-color: #009e66;
  color: #fff;
}

#__next {
  min-height: 100vh;
  overflow: hidden;
} 

.layout-container {
  min-height: 85vh;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  min-height: 15vh;
  z-index: 99;
  background-color: #101010;
}

.navbar .navbar-brand {
  margin-left: 32px;
}

.navbar a {
  margin-right: 32px;
  font-size: 18px;
  font-weight: 600;
  color: #e6e6e6;
}

.navbar a:hover {
  color: white;
}

.single-section {
  margin-bottom: 120px;
}

.section-heading {
  margin-bottom: 50px;
  text-align: left;
}

.section-heading p {
  font-size: 15px;
  margin-bottom: 17px;
  color: #9f9f9f;
}

.section-heading h2 {
  display: inline-block;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -.25px;
  line-height: 100%;
  margin-bottom: 0;
  position: relative;
  z-index: 9;
}

/* Home Section */
#home{
  position: relative;
  min-height: 85vh;
}

#home .home-content {
  text-align: center;
  margin-bottom: 13%;
  z-index: 1;
}

#home .home-content h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 34px;
}

#home .home-content h4 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: .8px;
  margin-bottom: 0;
}

#home .languages {
  position: absolute;
  bottom: 50px;
  left: -20px;
  gap: 15px;
}

#home .social-media {
  position: absolute;
  bottom: 50px;
  right: -20px;
  gap: 18px;
  z-index: 1;
}

#home .social-media a:hover {
  color: white;
}

#home .bannerImg {
  position: absolute;
  right: 120px;
  bottom: 20px;
  pointer-events: none;
}

/* About Section */
#about .about-info .info-content h2 {
  color: #009e66;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2;
}

#about .about-info .info-content h6 {
  font-size: 31px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 16px;
}

#about .about-info .info-content .description {
  font-size: 15px;
  font-weight: 500;
  color: #9f9f9f;
  border-bottom: 2px solid rgba(255,255,255,.08);
  margin-bottom: 0;
  padding-bottom: 29px;
  line-height: 1.95;
}

#about .about-info .info-content .content-info {
  font-size: 15px;
  margin-bottom: 4px;
  padding: 29px 0;
}

#about .about-info .info-content .single-info {
  margin-bottom: 10px;
}

#about .about-info .info-content .single-info span {
  color: #dadada;
  font-weight: 600;
  margin-right: 10px;
}

#about .about-info .info-content .single-info p {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
}

#about .about-info .info-content .single-info a {
  color: #009e66;
  transition: all .15s ease-in-out;
}

#about .about-info .info-content .single-info a:hover {
  color: #005537;
}

#about .about-info .info-content .content-download {
  margin-right: 23px;
  padding: 10px 35px;
  font-size: 14px;
  color: #fff;
  background-color: #009e66 !important;
  border: 1px solid #009e66 !important;
  border-radius: 30px;
}

#about .about-info .info-content .content-follow {
  display: flex;
  align-items: center;
  line-height: 100%;
  margin-bottom: 0;
}

#about .about-info .info-content .content-follow::before {
  background-color: rgba(255,255,255,.25);
  content: '';
  height: 2px;
  margin-right: 23px;
  width: 60px;
}

#about .about-info .info-content .content-follow li {
  margin-right: 14px;
}

#about .about-info .info-content .content-follow svg {
  transition: .3s all;
}

#about .about-info .info-content .content-follow svg:hover {
  color: #009e66;
}

#about .about-services .single-service {
  background-color: #161616;
  border-bottom: 2px solid transparent;
  box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
  margin-bottom: 30px;
  padding: 38px 42px;
  transition: all .15s ease-in-out;
}

#about .about-services .single-service:hover {
  border-bottom: 2px solid #009e66;
}

#about .about-services .single-service i {
  color: #009e66;
  display: inline-block;
  font-size: 58px;
  margin-bottom: 22px;
  pointer-events: none;
}

#about .about-services .single-service h6 {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -.5px;
  margin-bottom: 14px;
}

#about .about-services .single-service p {
  color: #9f9f9f;
}

.skill-slider {
  margin: 50px 0;
}

.skill-slider img {
  width: 50%;
  height: 96px;
  margin: 0 auto 15px auto;
  pointer-events: none;
}

@media (max-width: 728px) {
  /* Home Media */
  #home .languages {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: 0px;
    gap: 15px;
  }

  #home .social-media {
    display: none !important;
  }

  /* About Media */
  #about .about-info .info-content .content-download {
    margin-bottom: 27px;
  }
}